{% extends 'base.html.twig' %}

{% block title %}Les tweets{% endblock %}

{% block body %}

    <header>
        <div class="container col-xxl-8 px-4 py-5">
            <h1 class="lunaBlue">Les tweets de LunaWeb</h1>
            <div class="row flex-lg-row-reverse align-items-center g-5">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{{ path('app_home') }}" title="Retour à l'accueil">Accueil</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        {% include('pagination.html.twig') %}
        <div class="row">
            {% for tweet in tweets %}
                <div class="col-lg-3 col-md-7">
                    <div class="col-lg-10">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <img src="{{ tweet.author.avatar.large }}">
                                    </div>
                                    <div class="my-auto ms-2">
                                        <h5 class="card-title"><a href="{{ tweet.author.url }}" target="_blank">{{ tweet.author.full_name }}</a></h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ tweet.publishedAt|date("m/d/Y") }}</h6>
                                    </div>
                                </div>
                                <hr>
                                <p class="card-text">{{ tweet.content }}</p>
                                <a href="{{ tweet.url }}" target="_blank" class="card-link">{{ tweet.url }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include('pagination.html.twig') %}
    </main>

{% endblock %}
